{{ '0-collection-banner-half.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
  @media (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .collection-banner-half {
    background: {{ section.settings.section_bg }};

    & .__container {
      background: {{ section.settings.color_bg }};
    }
  }
{%- endstyle -%}

<div class="collection-banner-half__wrapper section-{{ section.id }} page-width color-{{ section.settings.color_scheme }}">
  <div
    class="cbh__container"
    style="background-image: url('{{ section.settings.image_bg | image_url: width: 2560 }}'); background-size: cover; background-position: center;"
  >
    <div class="cbh__wrapper">
      {%- for block in section.blocks -%}
        <article class="item-{{ forloop.index }}">
          <figure>
            {%- if block.settings.block_image != blank -%}
              {{
                block.settings.block_image
                | image_url: width: 1000
                | image_tag: class: '__image', alt: block.settings.block_image.alt, loading: 'lazy'
              }}
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {%- endif -%}
            <figcaption>
              {%- if block.settings.badge != blank -%}
                <span class="cbh__badge">{{ block.settings.badge }}</span>
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                <div class="cbh__title">{{ block.settings.title }}</div>
              {%- endif -%}
            </figcaption>
          </figure>
        </article>
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {});
</script>

{% schema %}
{
  "name": "Banner half",
  "class": "collection-banner-half",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section BG-color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Section BG-image"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Container BG-color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile section padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "block_1",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Badge"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner half",
      "category": "Custom"
    }
  ]
}
{% endschema %}
