<style>
  .breadcrumbs {
    padding: {{ section.settings.padding_top }}px var(--page-gutter) {{ section.settings.padding_bottom }}px;
    max-width: var(--page-width);
    margin: 0 auto;
  }

  .breadcrumbs__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs__item {
    display: inline-block;
  }

  .breadcrumbs__item:not(:last-child):after {
    content: '/';
    margin: 0 10px;
    color: {{ section.settings.home_text_color }};
  }

  .breadcrumbs__link {
    text-decoration: none;
    font-size: 16px;
  }

  .breadcrumbs__link[aria-current='page'] {
    color: {{ section.settings.active_text_color }};
  }
</style>

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/" style="color: {{ section.settings.home_text_color }}">Home</a>
      </li>

      {%- if collection -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ collection.url }}" style="color: {{ section.settings.home_text_color }}">{{ collection.title }}</a>
        </li>
      {%- endif -%}

      {%- if product -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page" style="color: {{ section.settings.active_text_color }}">{{ product.title }}</a>
        </li>
      {%- elsif page -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page" style="color: {{ section.settings.active_text_color }}">{{ page.title }}</a>
        </li>
      {%- elsif article -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ blog.url }}" style="color: {{ section.settings.home_text_color }}">{{ blog.title }}</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page" style="color: {{ section.settings.active_text_color }}">{{ article.title }}</a>
        </li>
      {%- else -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" aria-current="page" style="color: {{ section.settings.active_text_color }}">{{ page_title }}</a>
        </li>
      {%- endif -%}
    </ol>
  </nav>
{%- endunless -%}

{% schema %}
{
  "name": "Breadcrumbs",
  "settings": [
    {
      "type": "color",
      "id": "home_text_color",
      "label": "Link color",
      "default": "#2f2f2f"
    },
    {
      "type": "color",
      "id": "active_text_color",
      "label": "Active color",
      "default": "#a2a2a2"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "Breadcrumbs",
      "category": "Custom"
    }
  ]
}
{% endschema %}
