{{ '0-custom-grid-cards.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
  @media (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .cards-name {
    background: {{ section.settings.section_bg }};
  }
{%- endstyle -%}

<div class="cards-name__wrapper section-{{ section.id }} page-width">
  <h2 class="title">{{ section.settings.title }}</h2>
  <div
    class="cn__container"
    style="background-image: url('{{ section.settings.image_bg | image_url: width: 2560 }}'); background-size: cover; background-position: center;"
  >
    <div class="cn__items">
      {%- for block in section.blocks -%}
        <article>
          {%- if block.settings.card_icon != blank -%}
            <div class="cn__image-wrapp">
              {{ block.settings.card_icon | image_url: width: 600 | image_tag: class: 'cn__image', loading: 'lazy' }}
            </div>
          {%- endif -%}
          <p class="cn__card-title">{{ block.settings.card_title }}</p>
          {%- if block.settings.card_description != blank -%}
            <div class="cn__card-description">
              {{ block.settings.card_description -}}
            </div>
          {%- endif -%}
        </article>
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {});
</script>

{% schema %}
{
  "name": "Cards name",
  "class": "cards-name",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section BG",
      "default": "#F9F6F2"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Image for BG"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile section padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_icon",
          "label": "Icon card"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card title"
        },
        {
          "type": "richtext",
          "id": "card_description",
          "label": "Card description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards name",
      "category": "Custom"
    }
  ]
}
{% endschema %}
