{{ '0-custom-four-card.out.css' | asset_url | stylesheet_tag }}

<div class="catalog-cards__container page-width">
  {% for block in section.blocks %}
    <div class="catalog-cards__wrapper">
      <h3>{{ block.settings.card_text }}</h3>
      <div class="catalog-cards-image__wrapper">
        <img
          class="image"
          src="{{ block.settings.card_image | image_url }}"
          loading="lazy"
          height="{{ block.settings.card_image.height }}"
          width="{{ block.settings.card_image.width }}"
        >
      </div>
      <a href="{{ block.settings.card_button_url }}{% if block.settings.search_parameter != blank %}{{ block.settings.search_parameter | downcase | prepend: '?' }}{% endif %}">
        {{- block.settings.card_button_name }}
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
          <g clip-path="url(#clip0_935_1080)">
          <path d="M16.5 28.0005C23.1274 28.0005 28.5 22.6279 28.5 16.0005C28.5 9.37307 23.1274 4.00049 16.5 4.00049C9.87258 4.00049 4.5 9.37307 4.5 16.0005C4.5 22.6279 9.87258 28.0005 16.5 28.0005Z" stroke="#272727" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M21.0303 12.5308C21.3232 12.2379 21.3232 11.7631 21.0303 11.4702C20.7374 11.1773 20.2626 11.1773 19.9697 11.4702L21.0303 12.5308ZM11.9697 19.4702L11.4393 20.0005L12.5 21.0611L13.0303 20.5308L11.9697 19.4702ZM19.9697 11.4702L11.9697 19.4702L13.0303 20.5308L21.0303 12.5308L19.9697 11.4702Z" fill="#272727"/>
          <path d="M14.5 12.0005H20.5V18.0005" stroke="#272727" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_935_1080">
          <rect width="32" height="32" fill="white" transform="translate(0.5 0.000488281)"/>
          </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Custom four card",
  "tag": "section",
  "class": "catalog-card__wrapper",
  "settings": [],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "Card",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "id": "card_text",
          "label": "Logo"
        },
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "card_button_name",
          "label": "Button name"
        },
        {
          "type": "url",
          "id": "card_button_url",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "search_parameter",
          "label": "Search parametr name colection",
          "info": "This is the name of the collection to be displayed"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom four card"
    }
  ]
}
{% endschema %}
