{{ '0-custom-thank-you.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
    @media screen and (max-width: 768px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
            padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
        }
    }
    :root {
      --color-background: {{ section.settings.color_scheme.settings.background}};
      --color-primary_text: {{ section.settings.color_scheme.settings.primary_text}};
    }
{%- endstyle -%}

<div class="thank-you__wrapp section-{{ section.id }}-padding">
  <div class="thank-you__left">
    <div class="title">{{ section.settings.title }}</div>
    <p class="sub-title">{{ section.settings.sub_title }}</p>
    <p class="content">{{ section.settings.content }}</p>
    <p class="number">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
        <path d="M40.5 6H16.5C16.1022 6 15.7206 6.15804 15.4393 6.43934C15.158 6.72064 15 7.10218 15 7.5V15H7.5C7.10218 15 6.72064 15.158 6.43934 15.4393C6.15804 15.7206 6 16.1022 6 16.5V40.5C6 40.8978 6.15804 41.2794 6.43934 41.5607C6.72064 41.842 7.10218 42 7.5 42H31.5C31.8978 42 32.2794 41.842 32.5607 41.5607C32.842 41.2794 33 40.8978 33 40.5V33H40.5C40.8978 33 41.2794 32.842 41.5607 32.5607C41.842 32.2794 42 31.8978 42 31.5V7.5C42 7.10218 41.842 6.72064 41.5607 6.43934C41.2794 6.15804 40.8978 6 40.5 6ZM30 39H9V18H30V39ZM39 30H33V16.5C33 16.1022 32.842 15.7206 32.5607 15.4393C32.2794 15.158 31.8978 15 31.5 15H18V9H39V30Z" fill="white"/>
      </svg>
      {{ section.settings.number }}
    </p>
    <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_name }}</a>
  </div>
  <div class="thank-you__right">
    {%- if section.settings.image != blank -%}
      {{ section.settings.image | image_url: width: 900 | image_tag: class: '__image', loading: 'lazy' }}
    {%- endif -%}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {});
</script>

{% schema %}
{
  "name": "Thank you",
  "tag": "section",
  "class": "thank-you",
  "settings": [
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Left"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub-title"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "number",
      "label": "Number"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "Button name"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Right"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image for right section"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 128
    }
  ],
  "presets": [
    {
      "name": "Thank you"
    }
  ]
}
{% endschema %}
