{{ '0-custom-compare.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<div class="swiper arete-two-compare__wrapper section-{{ section.id }}-padding" id="compare">
  <div class="swiper-wrapper arete-two-compare__container">
    <div class="swiper-slide left-list">
      <h2>{{ section.settings.title_one }}</h2>
      <ul>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'compare' %}
              <li>{{ block.settings.text_one }}</li>
          {% endcase %}
        {% endfor %}
      </ul>
      <a href="{{ section.settings.link_one }}">Buy {{ section.settings.title_one }}</a>
    </div>

    <div class="center-list">
      <ul class="images">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'compare' %}
              <li>
                {%- if block.settings.image != blank -%}
                  {{ block.settings.image | image_url: width: 50 | image_tag: class: '__image', loading: 'lazy' }}
                {%- endif -%}
              </li>
          {% endcase %}
        {% endfor %}
      </ul>
    </div>

    <div class="swiper-slide right-list">
      <h2>{{ section.settings.title_two }}</h2>
      <ul>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'compare' %}
              <li>{{ block.settings.text_two }}</li>
          {% endcase %}
        {% endfor %}
      </ul>
      <a href="{{ section.settings.link_two }}">Buy {{ section.settings.title_two }}</a>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiperCompare = new Swiper('.swiper.arete-two-compare__wrapper', {
      slidesPerView: 1,
      spaceBetween: 0,
      grabCursor: true,
      breakpoints: {
        601: {
          slidesPerView: 3,
          spaceBetween: 0,
        },
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
      },
    });
  });
</script>

{% schema %}
{
  "name": "Custom compare",
  "tag": "section",
  "class": "page__arete-two-compare",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Name components One and Two"
    },
    {
      "type": "text",
      "id": "title_one",
      "label": "Text for title One"
    },
    {
      "type": "text",
      "id": "title_two",
      "label": "Text for title Two"
    },
    {
      "type": "header",
      "content": "Bottom button One & Two"
    },
    {
      "type": "url",
      "id": "link_one",
      "label": "Button link to One"
    },
    {
      "type": "url",
      "id": "link_two",
      "label": "Button link to Two"
    }
  ],
  "blocks": [
    {
      "name": "Compare",
      "type": "compare",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image of compare"
        },
        {
          "type": "text",
          "id": "text_one",
          "label": "Text for compare one"
        },
        {
          "type": "text",
          "id": "text_two",
          "label": "Text for compare two"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom compare",
      "category": "Custom"
    }
  ]
}
{% endschema %}
