{{ 'aptus-locator.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<div
  class="aptus-locator__wrapper section-{{ section.id }}-padding page-width"
>
  <div class="aptus-locator__container">
    <h2 class="main-title">{{ section.settings.title }}</h2>

    {% comment %}
      <!-- Start Stockist.co widget -->
      <div data-stockist-widget-tag="u15467"><a href="https://stockist.co"></a></div>
      <script>
        // <![CDATA[
        (function (s, t, o, c, k) {
          c = s.createElement(t);
          c.src = o;
          c.async = 1;
          k = s.getElementsByTagName(t)[0];
          k.parentNode.insertBefore(c, k);
        })(document, 'script', '//stockist.co/embed/v1/widget.min.js');
        // ]]>
      </script>
      <!-- End Stockist.co widget -->
    {% endcomment %}

    <!-- Start Stockist.co widget -->
    <div data-stockist-widget-tag="u17641"><a href="https://stockist.co"></a></div>
    <script>
      (function (s, t, o, c, k) {
        c = s.createElement(t);
        c.src = o;
        c.async = 1;
        k = s.getElementsByTagName(t)[0];
        k.parentNode.insertBefore(c, k);
      })(document, 'script', '//stockist.co/embed/v1/widget.min.js');
    </script>
    <!-- End Stockist.co widget -->
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {});
</script>

{% schema %}
{
  "name": "Locator",
  "tag": "section",
  "class": "aptus__locator",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title section"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Locator"
    }
  ]
}
{% endschema %}
