{{ '0-name.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
  @media (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- if section.settings.bg_gradient_full == true -%}
    .name {
        background: linear-gradient({{ section.settings.direction }}, {{ section.settings.color_1 }} 0%, {{ section.settings.color_2 }} 70.71%);
        .name__wrapper {
            background: none;
            background-color: none;
        }
    }
  {% else %}
    .name {
        .name__wrapper {
            background: linear-gradient({{ section.settings.direction }}, {{ section.settings.color_1 }} 0%, {{ section.settings.color_2 }} 70.71%);
        }
    }
  {%- endif -%}

  {% if section.settings.image_bg != blank and section.settings.bg_image_full_container == true %}
    .name {
        background-image: url('{{ section.settings.image_bg | image_url: width: 2560 }}'); background-size: cover; background-position: center;
        .name__wrapper {
            background: none;
        }
    }
  {% elsif section.settings.image_bg != blank and section.settings.bg_image_full_container == false %}
    .name {
        .name__wrapper {
            background: none;
            background-image: url('{{ section.settings.image_bg | image_url: width: 2560 }}'); background-size: cover; background-position: center;
        }
    }
  {% endif %}
{%- endstyle -%}


<div class="name__wrapper section-{{ section.id }} page-width color-{{ section.settings.color_scheme }}">
    <header>
        <h2 class="__title {{ section.settings.title_size }}" style="font-family:{{ section.settings.title_font_family }}; text-align:{{ section.settings.title_align }};">{{ section.settings.title }}</h2>
        <div class='__subtitle'>{{ section.settings.subtitle }}</div>
        {%- if section.settings.btn_name != blank -%}
            <a class="__link" href="{{ section.settings.btn_url }}">{{ section.settings.btn_name -}}</a>
        {%- endif -%}
    </header>

    <div class="__container">
        <div class="__grid--wrapp">
            <!--blocks-->
            {%- for block in section.blocks -%}
                {% case block.type %}
                    {% when 'block_1' %}
                        <article class='number-{{ forloop.index }}'>
                            <div class='__img--wrapp'>
                                {%- if block.settings.block_image != blank -%}
                                    {{ block.settings.block_image | image_url: width: 700 | image_tag: class: '__image', alt: block.settings.block_image.alt, loading: 'lazy' }}
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag }}
                                {%- endif -%}
                            </div>
                            <h4 class='__title'>{{ block.settings.title }}</h4>
                            <p class='__description'>{{ block.settings.description | truncate: 100 }}</p>
                            <p class="reviews">
                                {% for i in (1..5) %}
                                    {% if i <= block.settings.number %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                            <path d="M6.18145 0.542997C6.41666 -0.180892 7.44077 -0.180893 7.67597 0.542996L8.77293 3.91909C8.87812 4.24283 9.1798 4.46201 9.52019 4.46201H13.07C13.8312 4.46201 14.1476 5.436 13.5319 5.88339L10.66 7.96993C10.3846 8.17001 10.2694 8.52465 10.3746 8.84839L11.4715 12.2245C11.7067 12.9484 10.8782 13.5503 10.2624 13.1029L7.39054 11.0164C7.11516 10.8163 6.74226 10.8163 6.46688 11.0164L3.595 13.1029C2.97922 13.5503 2.1507 12.9484 2.3859 12.2245L3.48286 8.84839C3.58805 8.52465 3.47282 8.17001 3.19744 7.96993L0.325557 5.88339C-0.290219 5.436 0.026247 4.46201 0.787389 4.46201H4.33723C4.67762 4.46201 4.9793 4.24283 5.08449 3.91909L6.18145 0.542997Z" fill="#6A8388"/>
                                        </svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                            <path d="M6.18145 0.542997C6.41666 -0.180892 7.44077 -0.180893 7.67597 0.542996L8.77293 3.91909C8.87812 4.24283 9.1798 4.46201 9.52019 4.46201H13.07C13.8312 4.46201 14.1476 5.436 13.5319 5.88339L10.66 7.96993C10.3846 8.17001 10.2694 8.52465 10.3746 8.84839L11.4715 12.2245C11.7067 12.9484 10.8782 13.5503 10.2624 13.1029L7.39054 11.0164C7.11516 10.8163 6.74226 10.8163 6.46688 11.0164L3.595 13.1029C2.97922 13.5503 2.1507 12.9484 2.3859 12.2245L3.48286 8.84839C3.58805 8.52465 3.47282 8.17001 3.19744 7.96993L0.325557 5.88339C-0.290219 5.436 0.026247 4.46201 0.787389 4.46201H4.33723C4.67762 4.46201 4.9793 4.24283 5.08449 3.91909L6.18145 0.542997Z" fill="#BDCCD1"/>
                                        </svg>
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </article>
                {% endcase %}
            {%- endfor -%}

            <!--blogs-->
            {% for article in section.settings.blog.articles %}
                <article>
                    <div class='__img--wrapp'>
                        {%- if article.image != blank -%}
                            {{ article.image | image_url: width: 700 | image_tag: class: '__image', alt: article.image.alt, loading: 'lazy' }}
                        {% else %}
                            {{ 'image' | placeholder_svg_tag }}
                        {%- endif -%}
                    </div>
                    <div class="__content">
                        {{- article.excerpt }}
                        {{ 'Read More' | link_to: article.url }}
                    </div>
                </article>
            {% endfor %}

            <!--products-->
            {% for product in section.settings.product_list %}
                <article>
                    <a href="{{ product.url }}" class='__img--wrapp'>
                        {% if product.featured_image != blank %}
                            {{ product.featured_image | image_url: width: 700 | image_tag: class: '__image', alt: product.title, loading: 'lazy' }}
                        {% else %}
                            {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                    </a>
                    <h4 class="__title">{{ product.title }}</h4>
                    <div class="__content">
                        {{ product.description | truncate: 100 }}
                        <button class="add-to-cart button button--primary" data-variant-id="{{ product.variants.first.id }}">{{ 'products.product.add_to_cart' | t }}</button>
                        <span class="__price">{{- cart.currency.iso_code -}} {{ product.price | money_without_currency -}}</span>
                    </div>
                </article>
            {% endfor %}
        </div>

        <!--slider-->
        <div class="__slider--wrapp swiper swiper-{{ section.id }}">
            <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                    <article class="swiper-slide">
                        <div class='__img--wrapp'>
                            {%- if block.settings.block_image != blank -%}
                                {{ block.settings.block_image | image_url: width: 700 | image_tag: class: '__image', alt: block.settings.block_image.alt, loading: 'lazy' }}
                            {% else %}
                                {{ 'image' | placeholder_svg_tag }}
                            {%- endif -%}
                        </div>
                        <h4 class='__title'>{{ block.settings.title }}</h4>
                        <p class='__description'>{{ block.settings.description | truncate: 100 }}</p>
                    </article>
                {%- endfor -%}
            </div>
            <div class="swiper-button-next swiper-button-next-{{ section.id }}">Next</div>
            <div class="swiper-button-prev swiper-button-prev-{{ section.id }}">Prev</div>
            <div class="swiper-pagination swiper-pagination-{{ section.id }}"></div>
        </div>

        <!--Banner full-->
        <div class="__banner--wrapp {{ section.settings.banner_position }}">
            {% assign image_poster = section.settings.image_desk.src | image_url: width: 1920 %}
            {% if section.settings.image_desk != blank and section.settings.video == blank %}
                <picture class="__image-wrapp">
                    <source media="(max-width: 750px)" srcset="{{ section.settings.image_mobi | image_url: width: 576 }}">
                    <img
                        class="__image"
                        src="{{ section.settings.image_desk | image_url: width: 1920 }}"
                        alt="{{ section.settings.image_desk.alt | escape }}"
                        width="{{ article.image.width }}"
                        height="{{ article.image.height }}"
                        loading="lazy"
                    >
                </picture>
            {% else %}
                {{ section.settings.video | video_tag: image_size: '1920x', class: '__video', poster: image_poster, controls: true, loop: true, muted: true, autoplay: true, playsinline: true, loading: 'lazy' }}
            {% endif %}
            <div class='__banner-content'>
                <h2 class="__title {{ section.settings.title_size }}">{{ section.settings.title }}</h2>
                <div class='__subtitle'>{{ section.settings.subtitle }}</div>
                {%- if section.settings.btn_name != blank -%}
                    <a class="__link" href="{{ section.settings.btn_url }}">{{- section.settings.btn_name -}}</a>
                {%- endif -%}
            </div>
        </div>


        <!--Accordion-->
        <div class="__accordion--wrapp">
            <div class="__accordion">
                {%- assign half_size = section.blocks.size | divided_by: 2.0 | ceil -%}
                <div>
                    {%- for block in section.blocks limit: half_size -%}
                        <details {% if forloop.first %} open{% endif %}>
                            <summary>
                                {{ block.settings.title }}
                                {{- 'icon-caret.svg' | inline_asset_content -}}
                            </summary>
                            <div>{{ block.settings.description }}</div>
                        </details>
                    {%- endfor -%}
                </div>
                <div>
                    {%- for block in section.blocks offset: half_size -%}
                        <details>
                            <summary>
                                {{ block.settings.title }}
                                {{- 'icon-caret.svg' | inline_asset_content -}}
                            </summary>
                            <div>{{ block.settings.description }}</div>
                        </details>
                    {%- endfor -%}
                </div>
            </div>
            {% assign image_poster = section.settings.image_desk.src | image_url: width: 1920 %}
            {% if section.settings.image_desk != blank and section.settings.video == blank %}
                <picture class="__image-wrapp">
                    <source media="(max-width: 750px)" srcset="{{ section.settings.image_mobi | image_url: width: 576 }}">
                    <img
                        class="__image"
                        src="{{ section.settings.image_desk | image_url: width: 1920 }}"
                        alt="{{ section.settings.image_desk.alt | escape }}"
                        width="{{ article.image.width }}"
                        height="{{ article.image.height }}"
                        loading="lazy"
                    >
                </picture>
            {% else %}
                {{ section.settings.video | video_tag: image_size: '1920x', class: '__video', poster: image_poster, controls: true, loop: true, muted: true, autoplay: true, playsinline: true, loading: 'lazy' }}
            {% endif %}
        </div>

        <!--Tabs-->
        <div class='__tabs-wrapp'>
            <ul class="__tabs">
                <li class="active"><span>Part 1</span></li>
                <li><span>Part 2</span></li>
            </ul>
            <div class="__tabs-content">
                <div class="__tabs-panel active">content here 1</div>
                <div class="__tabs-panel">content here 2</div>
            </div>
        </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // accordion
    const accordionDetails = document.querySelectorAll('.section-{{ section.id }} details');
    accordionDetails.forEach((details) => {
      details.addEventListener('click', () => {
        if (!details.open) {
          accordionDetails.forEach((item) => {
            if (item !== details) {
              item.open = false;
            }
          });
        }
      });
    });

    // tabs
    const tabLinks = document.querySelectorAll('.__tabs span');
    const tabPanels = document.querySelectorAll('.__tabs-panel');
    tabLinks.forEach((link, index) => {
      link.addEventListener('click', (e) => {
        e.preventDefault();
        document.querySelector('.__tabs li.active')?.classList.remove('active');
        document.querySelector('.__tabs-panel.active')?.classList.remove('active');
        link.parentElement.classList.add('active');
        tabPanels[index].classList.add('active');
      });
    });

    // slider
    document.querySelector('.swiper-{{ section.id }} .swiper-wrapper').style.display = "flex";
    const swiperCard{{ section.index }} = new Swiper('.swiper-{{ section.id }}', {
      slidesPerView: 1.3,
      spaceBetween: 12,
      grabCursor: true,
      breakpoints: {
        450: {
          slidesPerView: 3,
        }
      },
      navigation: {
        nextEl: '.swiper-button-next-{{ section.id }}',
        prevEl: '.swiper-button-prev-{{ section.id }}'
      },
      pagination: {
        el: ".swiper-pagination-{{ section.id }}",
        clickable: true,
        type: 'bullets',
      }
    });

    //product add to cart
    document.querySelectorAll('.add-to-cart').forEach((button) => {
      button.addEventListener('click', async () => {
        const variantId = button.dataset.variantId;
        try {
          const response = await fetch('/cart/add.js', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              items: [
                {
                  id: variantId,
                  quantity: 1,
                },
              ],
            }),
          });
          const result = await response.json();
          const drawer = document.querySelector('cart-drawer');
          if (drawer) {
            fetch('/?section_id=cart-drawer')
              .then((response) => response.text())
              .then((text) => {
                const html = new DOMParser().parseFromString(text, 'text/html');
                const newDrawer = html.querySelector('cart-drawer');
                if (newDrawer) {
                  drawer.innerHTML = newDrawer.innerHTML;
                  drawer.classList.remove('is-empty');
                  drawer.classList.add('animate');
                  drawer.classList.add('active');
                  document.body.classList.add('overflow-hidden');
                }
              })
              .then(() => {
                fetch('/cart.js')
                  .then((response) => response.json())
                  .then((cart) => {
                    const cartCount = document.querySelector('.cart-count-bubble span');
                    if (cartCount) {
                      cartCount.textContent = cart.item_count;
                      const bubble = document.querySelector('.cart-count-bubble');
                      if (bubble) {
                        bubble.style.display = cart.item_count > 0 ? 'flex' : 'none';
                      }
                    }
                  });
              });
          }
        } catch (error) {
          console.error('Ошибка:', error);
        }
      });
    });
  });
</script>

{% schema %}
{
  "name": "Name",
  "class": "name",
  "tag": "section",
  "settings": [
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme_1",
        "label": "Color Scheme"
    },
    {
        "type": "header",
        "content": "Gradient BG"
    },
    {
        "type": "select",
        "id": "direction",
        "label": "Direction",
        "options": [
            { "value": "0deg", "label": "↑ Up" },
            { "value": "45deg", "label": "↗ Up-Right" },
            { "value": "90deg", "label": "→ Right" },
            { "value": "135deg", "label": "↘ Down-Right" },
            { "value": "180deg", "label": "↓ Down" },
            { "value": "225deg", "label": "↙ Down-Left" },
            { "value": "270deg", "label": "← Left" },
            { "value": "315deg", "label": "↖ Up-Left" }
        ],
        "default": "135deg"
    },
    {
        "type": "color",
        "id": "color_1",
        "label": "Color 1",
        "default": "#F4F6F8"
    },
    {
        "type": "color",
        "id": "color_2",
        "label": "Color 2",
        "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "bg_gradient_full",
      "label": "BG gradient full",
      "default": true
    },
    {
        "type": "header",
        "content": "Image BG"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Section BG-image"
    },
    {
      "type": "checkbox",
      "id": "bg_image_full_container",
      "label": "BG image full or container",
      "default": true,
      "info": "True - full screen, False - container width."
    },
    {
      "type": "header",
      "content": "Main Title"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "show_advanced_settings",
      "label": "Show advanced settings Title",
      "default": false
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "Title size",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ],
      "default": "h2",
      "visible_if": "{{ section.settings.show_advanced_settings == true }}"
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "Title align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "visible_if": "{{ section.settings.show_advanced_settings == true }}"
    },
    {
      "type": "select",
      "id": "title_font_family",
      "label": "Title font family",
      "options": [
        {
          "value": "var(--font-heading-family)",
          "label": "Font-1"
        },
        {
          "value": "var(--font-body-family)",
          "label": "Font-2"
        }
      ],
      "default": "var(--font-heading-family)",
      "visible_if": "{{ section.settings.show_advanced_settings == true }}"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_name",
      "label": "Button name"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button url"
    },
    {
      "type": "header",
      "content": "Image-Video",
      "info": "Block - responsive image or video"
    },
    {
      "type": "image_picker",
      "id": "image_desk",
      "label": "Main Image for Descktop"
    },
    {
      "type": "image_picker",
      "id": "image_mobi",
      "label": "Main Image for Mobile"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Main Video"
    },
    {
      "type": "header",
      "content": "Banner"
    },
    {
        "type": "select",
        "id": "banner_position",
        "label": "Banner layout",
        "options": [
            { "value": "center", "label": "Center" },
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" },
            { "value": "full", "label": "Full" },
            { "value": "split-left", "label": "Split-left" },
            { "value": "split-right", "label": "Split-right" },
        ],
        "default": "center"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 3
    },
    {
      "type": "header",
      "content": "Blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile section padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "max_blocks": 10,
  "blocks": [
    {
      "type": "block_1",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Item"
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "number",
          "id": "number",
          "label": "Count",
          "default": 5
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Name",
      "category": "Custom"
    }
  ]
}
{% endschema %}
